<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="WebApp_ID" version="3.0">
  <display-name>LES-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>les.control.web.Servlet</servlet-class>
    <init-param>
      <param-name>brands</param-name>
      <param-value>/LES-web/ConsultBrand</param-value>
    </init-param>
    <init-param>
      <param-name>groups</param-name>
      <param-value>/LES-web/ConsultPricingGroup</param-value>
    </init-param>
    <init-param>
      <param-name>colors</param-name>
      <param-value>/LES-web/ConsultColor</param-value>
    </init-param>
    <init-param>
      <param-name>capacities</param-name>
      <param-value>/LES-web/ConsultCapacity</param-value>
    </init-param>
    <init-param>
      <param-name>processors</param-name>
      <param-value>/LES-web/ConsultProcessor</param-value>
    </init-param>
    <init-param>
      <param-name>connections</param-name>
      <param-value>/LES-web/ConsultConnectionType</param-value>
    </init-param>
    <init-param>
      <param-name>sos</param-name>
      <param-value>/LES-web/ConsultSO</param-value>
    </init-param>
    <init-param>
      <param-name>suppliers</param-name>
      <param-value>/LES-web/ConsultSupplier</param-value>
    </init-param>
    <init-param>
      <param-name>inactivationCategory</param-name>
      <param-value>/LES-web/ConsultInactivationCategory</param-value>
    </init-param>
    <init-param>
      <param-name>residenceTypes</param-name>
      <param-value>/LES-web/ConsultResidenceTypes</param-value>
    </init-param>
    <init-param>
      <param-name>status</param-name>
      <param-value>/LES-web/ConsultStatus</param-value>
    </init-param>
    <init-param>
      <param-name>activationCategory</param-name>
      <param-value>/LES-web/ConsultActivationCategory</param-value>
    </init-param>
    <init-param>
      <param-name>exchangeCategory</param-name>
      <param-value>/LES-web/ConsultExchangeCategory</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Phones</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Colors</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Capacities</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/References</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Stocks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Entry</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Cart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Clients</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Users</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Addresses</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/CreditCards</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Orders</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Payments</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/OrderAddresses</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Orderi</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Movstock</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Coupons</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/OrderCoupons</url-pattern>
  </servlet-mapping>
</web-app>